@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap");
.text-b {
  font-weight: bold;
}

.logo {
  width: 128px;
  height: 128px;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.visible {
  display: block;
  opacity: 1;
}

.titulo {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: #ff0033;
}

body {
  overflow-y: auto;
  height: 100%;
}

body * {
  font-family: "Poppins", sans-serif;
}

body hr {
  width: 100%;
  color: #303030;
  background-color: #303030;
  border-bottom: 1px dashed #303030;
}
body .container {
  margin-top: 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .card {
  height: max-content;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container .card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .container #user-info {
  align-items: center;
  gap: 10px;
}
body .container #user-foto {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
body .container h1 {
  font-family: "Sigmar", sans-serif;
  color: #ff0033;
  font-size: 4rem;
  font-weight: bolder;
  text-align: center;
}
body .container #download {
  font-family: "Sigmar", sans-serif;
  color: #ff0033;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
body .container .container-musica-controllers {
  background-color: #ff0033;
  border: 1px solid #686868;
  border-radius: 8px;
  padding: 1.5rem;
  margin: 1rem;
  width: 100%;
}
body .container .container-musica-controllers .container-musica-artista {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body .container .container-musica-controllers .container-musica-artista #music-img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}
body .container .container-musica-controllers .container-musica-artista h2#music-title {
  font-family: "Sigmar", sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0;
}
body .container .container-musica-controllers .container-musica-artista h3#artist-name {
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  margin: 1rem 0;
}
body .container .container-musica-controllers .container-musica-artista a {
  color: #fff;
  text-decoration: #fff;
  padding: 0.8rem;
  border-radius: 8px;
  margin: 1rem 0;
}
body .container .container-musica-controllers .container-musica-artista a:hover {
  background-color: #fff;
  color: #ff0033;
  text-decoration: #ff0033;
}
body .container .container-musica-controllers .conmtainer-controllers {
  width: 100%;
}
body .container .container-musica-controllers .conmtainer-controllers #curtirBtn, body .container .container-musica-controllers .conmtainer-controllers #deslikeBtn, body .container .container-musica-controllers .conmtainer-controllers #PlayPauseBtn, body .container .container-musica-controllers .conmtainer-controllers #previousBtn, body .container .container-musica-controllers .conmtainer-controllers #nextBtn, body .container .container-musica-controllers .conmtainer-controllers #suffleBtn, body .container .container-musica-controllers .conmtainer-controllers #repeatBtn {
  cursor: pointer;
  color: #fff;
  margin-left: 0.5rem;
}
body .container .container-musica-controllers .conmtainer-controllers .progress-container {
  width: 100%;
  height: 10px;
  background: #ccc;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 6px;
}
body .container .container-musica-controllers .conmtainer-controllers .progress-container .progress-bar {
  height: 100%;
  background: #1a6f23;
  width: 0%;
  border-radius: 10px;
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control {
  display: flex;
  align-items: center;
  gap: 10px;
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control input[type=range] {
  -webkit-appearance: none;
  width: 300px;
  height: 8px;
  border-radius: 5px;
  background: #ccc;
  /* fallback */
  background-image: linear-gradient(to right, #1a6f23 0%, #1a6f23 0%, #ccc 0%, #ccc 100%);
  outline: none;
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  margin-top: -6px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control input[type=range]::-moz-range-thumb {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #4caf50;
  cursor: pointer;
  border: none;
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control input[type=range]::-moz-range-track {
  height: 8px;
  border-radius: 5px;
  background: transparent;
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control .volume-icon {
  font-size: 24px;
  cursor: pointer;
  user-select: none;
  color: #fff;
}
body .container .container-musica-controllers .conmtainer-controllers .volume-control input[type=range] {
  width: 150px;
}
body .container #playlists h2, body .container #container-queue h2 {
  font-family: "Sigmar", sans-serif;
  color: #ff0033;
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
}
body .container #playlists table tbody tr td a, body .container #container-queue table tbody tr td a {
  color: #fff;
}
body .container #playlists table tbody tr td a:hover, body .container #container-queue table tbody tr td a:hover {
  color: #ff0033;
}
body .container #playlists table tbody tr td span, body .container #container-queue table tbody tr td span {
  cursor: pointer;
}
body .container #playlists table tbody tr td span:hover, body .container #container-queue table tbody tr td span:hover {
  color: #ff0033;
}
body .container .btn-group .btn-dark {
  border-right: 1px solid #c6c6c6 !important;
}
body .container .btn-group .btn-dark .btn-dark:hover {
  background-color: #c6c6c6;
  color: #ff0033;
}

/*# sourceMappingURL=style.css.map */
